.user__list-item{
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__list-item h1{
    margin: 0;
    font-size: 1.5rem;
    color: #cccc;
}

.user__list-item h2{
    margin: 0;
    font-size: 1rem;
    color: #cccc;
}